
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #ffffff;
}

html{
    background: white;
    box-sizing: border-box;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

header{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    font-size: 2.4rem;
    /* border: solid black; */
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    /* z-index: 9999; */
}

 .background-section1 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(./modern-office-building-low-angle-view-skyscrapers-city-singapore-modern-office-building-low-angle-view-skyscrapers-city-singapore.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    /* border: solid blue 2px; */
    align-items: center;
    justify-items: center;
    max-width: 100%;
    height: 40.56rem;
    flex-wrap: wrap;
}

.nav{
    display: inline-block;
    justify-content: space-between;
    text-decoration: none;
}


.menu-bars {
    max-width: 30px;
    background: transparent;
}

.section-1 .background-section1{
    display: flex;
    align-content: center;
    justify-content: center;
}

.section-1 .background-section1 .title-container {
    /* border: solid red 3px; */
    background: transparent;
    transform: translate(0%,0%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 5px;
    align-content: center;
    z-index: 3;
    width: 700Px;
    height: 400px;
}

.section-1 .background-section1 .title-container .title-1 {
    background: transparent;
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 5rem;
/*     transform: translate(45%, 45%);
 */    
}

.section-1 .background-section1 .title-container .text-p{
    background-color: transparent;
    color: white;
}

.container-flex{
    align-content: center;
    /* border: solid pink 2px; */
    color: white;
    display: flex;
    justify-content: space-around;
    height: 500px;
    flex-wrap: nowrap;
}

.container-flex div {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1;
}

.container-flex div.cell-1{
    background-color: #333333;
    font-size: 2rem;
    justify-content: center;
    padding: 15px;
}

.container-flex div.cell-2{
    background-color: #d61728;
    font-size: 2rem;
    justify-content: center;
    padding: 15px;
}

.container-flex div.cell-3{
    background-color: rgb(134, 12, 94);
    font-size: 2rem;
    justify-content: center;
    padding: 15px;
}

.section-2{
    background-color: white;
    /* border: solid 1px black; */
    width: 100%;
    height: 500px;
}

.container-2{
    /* border: solid 2px pink; */
    display: inline-block;
    text-align: center;
    transform: translate(50%,0);
    height: 490px;
}

.container-text{
    background: transparent;
    align-self: center;
    display: flex;
    /* border: solid 2px blue; */
    font-size: 1.2rem;
    height: 200px;
    padding-left: 10px;
    text-align: justify;
    transform: translate(0,-40px);
    width: 550px;
    margin: 200px;
}

.container-title-2{
    background: transparent;
    padding-top: 50px;
    font-size: 2rem;
    transform: translate(-50px,120px);
}

.container-text img{
    background: transparent;
    max-width: 30px;
}

.section-3{
    /* border: solid blue 2px; */
    background-color: rgb(99, 34, 90) ;
    height: 800px;
    width: 100%;
}

.section-3{
   align-items: center;
   display: grid;
   justify-items: center;
}

.container-grid{
    display: inline-grid;
    column-gap: .3100rem;
    background-color: transparent;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 440px 230px;
    padding: .3rem;
    row-gap: .3100rem;
    margin-top: 10px;
}

.section-3 .container-grid .item-1{
    background-image: url(./young-beautiful-business-woman-by-office-center.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.section-3 .container-grid .item-2{
    background-image: url(./9105913_26129.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.section-3 .container-grid .item-3{
    background-color: white;
    font-size: 1.2rem;
    grid-area: 1 / 3 / span 2 / span 2;
    text-align: justify;
    justify-content: center;
    padding-top: 300px;
}

.section-3 .container-grid .item-4{
    background-color: red;
}

.section-3 .container-grid .item-5{
    background-image: url(./vertical-shot-modern-laptop-showing-time-with-headphones-side-desk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
}

.section-4{
    box-sizing: border-box;
    background-color: red;
    display: block;
    height: 800px;
    max-width: 100%;
}

.section-4-container{
    margin-top: 50px;
    align-self: center;
    background-color: transparent;
    /* border: solid 2px blueviolet; */
    display: block;
    transform: translate(35%,20%);
    height: 723px;
    width: 55%;
}

.container-table{
    border: solid white 2px;
    background: white;
    height: 531px;
    margin-top: -51px;
    width: 100%;
}

.container-table-2{
   /*  border: solid rgb(141, 97, 167) 2px; */
    background: white;
    height: 500px;
    margin-bottom: 1px;
    width: 100%;
}

.square-1{
    /* border: solid 2px yellow; */
    display: flex;
    flex: 0 0 50%;
    height: 100%;
    max-width: 50%;
}

.square-1-1{
    display: flex;
}

.square-1-1-copy{
    position: relative;
    flex: 1;
    height: 100%;
    max-width: 100%;
    /* border: solid pink 2px; */
}

.square-text{
    font-size: 2.25rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
}

.second-container{
   /*  border: dashed rgb(141, 124, 50) 2px; */
    display: flex;
    height: auto;
    min-height: 125px;
    width: 515px;
}

.second-container-text{
    position: relative;
    flex:1;
    max-width: 100%;
    /* border: dotted 1px black; */
}

.diamond{
    /* border: solid 1px black; */
    background: transparent;
    display: flex;
    margin-left: 50px;
    margin-top: 50px;
    width: 40px;
}

.second-container-text-text{
    font-size: 1.5rem;
    align-content: center;
    /* justify-content: center; */
    padding-left: 140px;
    padding-top: 0px;
}

.paragraph-3{
    font-size: .8rem;
    font-style: italic;
    color: rgb(184, 184, 184);
    margin: 10px 40px 10px 140px;
    word-wrap: break-word;
}

.third-container{
   /*  border: dashed 2px red; */
    display: flex;
    height: auto;
    min-height: 125px;
    width: 515px;
}

.third-container-text{
    position: relative;
    flex: 1;
    max-width: 100%
}

.img-group{
    /* border: solid 1px black; */
    background: transparent;
    display: flex;
    margin-left: 50px;
    margin-top: 50px;
    width: 40px;
}

.third-container-text-text{
    font-size: 1.5rem;
    align-content: center;
    /* justify-content: center; */
    padding-left: 140px;
    padding-top: 0px;
}

.paragraph-4{
    font-size: .8rem;
    font-style: italic;
    color: rgb(184, 184, 184);
    margin: 10px 40px 10px 140px;
    word-wrap: break-word;
}

/* ------------------ */

.fourth-container{
    /* border: dashed 2px red; */
    display: flex;
    height: auto;
    min-height: 125px;
    width: 515px;
}

.fourth-container-text{
    position: relative;
    flex: 1;
    max-width: 100%
}

.img-group-2{
    /* border: solid 1px black; */
    background: transparent;
    display: flex;
    margin-left: 50px;
    margin-top: 50px;
    width: 40px;
}

.fourth-container-text-text{
    font-size: 1.5rem;
    align-content: center;
    /* justify-content: center; */
    padding-left: 140px;
    padding-top: 0px;
}

.paragraph-5{
    font-size: .8rem;
    font-style: italic;
    color: rgb(184, 184, 184);
    margin: 10px 40px 10px 140px;
    word-wrap: break-word;
}

/* -------------------- */

.square-2{
    background-image: url(./bearded-man.jpg);
    /* background-position: 50% 50%; */
    /* border: solid 2px rgb(0, 0, 0); */
    display: flex;
    flex: 0 0 150%;
    height: 100%;
    max-width: 100%;
}

/* ---------------------------------------- */

.section-5{
    background: white;
    border: dashed 2px blue;
    height: 87.5rem;
    width: 100%;
}

/* .container-grid{
    display: inline-grid;
    column-gap: .3100rem;
    background-color: transparent;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 440px 230px;
    padding: .3rem;
    row-gap: .3100rem;
    margin-top: 10px;
} */

.section-5-container{
    border: solid 2px white;
    align-items: center;
    background-color: white;
    border: dotted 2px pink;
    display: inline-grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-top: 4.0625rem;
    gap: 16px;
    transform: translate(35%,0);
    width: 60%;
    height: 900Px;
}

.section-5 .section-5-container .block-1{
    background-image: url(./modern-office-building-low-angle-view-skyscrapers-city-singapore-modern-office-building-low-angle-view-skyscrapers-city-singapore.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.section-5 .section-5-container .block-2{
    background-color: red;
}

.section-6-container{
    background-color:rgb(56, 24, 107);
    height: 35rem;
    width: 100%;
}